p{font-size:20px}
body{background-color:##FFF8ED; color:#402700; margin: 0}
main{text-align:center; width:800px; margin:auto}
nav{display: flex; background-color:#0088FF; color:#0F1B26; padding: 15px;}
a{text-decoration: none; color:#0F1B26}
