p{font-size:20px}
body{background-color:##FFF8ED; color:#402700; margin: 0}
main{text-align:center; width:800px; margin:auto}
nav{display: flex; background-color:#0088FF; color:#0F1B26; padding: 15px}
nav a{text-decoration: none; color:#0F1B26; font-size:1.5em; margin-left:30px}
ul{text-align:left; font-size:20px}
ol{text-align:left; font-size:20px}
ol li{margin-bottom:5px}
